:root {
  --first-color: #394a51;
  --second-color: #d5eeff;
  --third-color: #ffe9e3;
}
.container-fluid {
  margin: 0;
  padding: 20px;
  background: var(--first-color);
}
h1,
footer {
  color: var(--third-color);
  background: var(--first-color);
  margin: 0;
}
h1 {
  padding: 30px 70px 0;
}
footer {
  text-align: center;

  padding: 30px;
}
a {
  text-decoration: none;
}
li a {
  color: var(--first-color);
  font-weight: bold;
}
footer i {
  color: var(--third-color);
  font-size: 30px;
}
span {
  font-size: 20px;
  color: var(--third-color);
}
footer i:hover {
  color: var(--second-color);
}
h4 {
  padding: 20px;
  margin: 0 0 0 -20px;
}
.row.header {
  margin: 32px;
}
header {
  padding: 30px 70px 40px;
  background: var(--third-color);
  color: var(--first-color);
  border: 20px dashed var(--first-color);
}
header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
header ul li {
  font-weight: 700;
}
section {
  padding: 20px 70px;
  margin: 32px;
  border: 20px dashed var(--first-color);
}
.section-1.about {
  padding: 10px 70px 14px;
}
.section-1 {
  color: var(--first-color);
  background: var(--second-color);
}
.section-2 {
  color: var(--first-color);
  background: var(--third-color);
}
pre {
  background: whitesmoke;
  border-radius: 10px;
  margin-bottom: 40px;
}
p,
li {
  font-family: "Scada", sans-serif;
  font-size: 17px;
}
h1,
h4,
h5,
span {
  font-family: "Fredoka One", cursive;
}
